</div>
</div>

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <% include ../admin/footer.ejs %>
</footer>
</div>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<% include ../../views/admin/logout.ejs %>
</body>
<% include ../linkjavascrit.ejs %>
</html>
