<% include ../index1.ejs %>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Sửa lại</h1>
<div class="card shadow mb-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="p-5">
                <form class="user" action="/admin/admin/edit_create/<%= edit_admin.id %>" method="post">
                    <div class="form-group row">
                        <div class="col-sm-2 mb-2 mb-sm-2">
                            <p>Tên tài khoản :</p>
                        </div>
                        <div class="col-sm-8 mb-8 mb-sm-8">
                            <input type="text" class="form-control" name="username" value="<%= edit_admin.username %>"
                                   placeholder="Tên tài khoản">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2 mb-2 mb-sm-2">
                            <p>Mật khẩu :</p>
                        </div>
                        <div class="col-sm-8 mb-8 mb-sm-8">
                            <input type="password" class="form-control" name="password" value="<%= edit_admin.password %>"
                                   placeholder="Mật khẩu">
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-2 mb-2 mb-sm-2"></div>
                        <div class="col-sm-8 mb-8 mb-sm-8">
                            <button type="submit" class="btn btn-primary btn-user">Sửa Lại</button>
                            <a href="/admin/admin/">
                                <button type="button" class="btn btn-success  btn-user ">Quay Lại</button>
                            </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<% include ../index2.ejs %>
